<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
	<add key="nuget" value="http://localhost:8624/nuget/my_nuget/v3/index.json" />
    <add key="private1" value="http://172.30.52.11:8081/repository/nuget-hosted/" />
  </packageSources>
</configuration>
